<div class="container">
 <div class="row">
  <div class="col-lg-12">
   <h4>商品編集</h4>
  </div>
  <div class="edit">
<%= form_with model: @product, url: managers_product_path, method: :patch, local: true do |f| %>
 <%= f.label :商品画像 %>
 <%= f.attachment_field :image %>
 <br><br><%= f.label :商品名 %>
 <%= f.text_field :name %>
 <br><br><%= f.label :商品説明 %>
 <%= f.text_area :body %>
 <br><br><%= f.label :ジャンル %>
 <%= f.collection_select :category_id, Category.all, :id, :name %>
 <br><br><%= f.label :税抜価格 %>
 <%= f.text_field :price %>
 <br><br><%= f.label :販売ステータス %>
 <%= f.radio_button :is_active, true %>
 <%= f.label :is_active, "販売中" %>
 <%= f.radio_button :is_active, false %>
 <%= f.label :is_active, "販売停止中" %>
 <br><br><%= f.submit "変更を保存",class:"btn-success" %>
<% end %>
 </div>
 
 </div>
</div>