<h1>商品詳細</h1>

<%= attachment_image_tag(@product, :image,size: "300x200", fallback: "no_image.jpg") %>
<table>
  <tr>
    <th>商品名</th>
    <th><%= @product.name %></th>
  </tr>
  <tr>
    <th>商品説明</th>
    <th><%= @product.body %></th>
  </tr>
  <tr>
    <th>ジャンル</th>
		<th><%= @product.category %></th>
  </tr>
  <tr>
    <th>税込価格（税抜価格）</th>
		<th><%= (@product.price * 1.1).to_i %>(<%= @product.price %>)円</th>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <th>
				<% if @product.is_active == true %>
				販売中
				<% else %>
	      販売停止中
				<% end %>
	  </th>
  </tr>
</table>
<%= link_to '編集する', edit_managers_product_path(@product), class: "btn btn-primary" %>