<div class="container">
  <h4><span style="background-color: #EEEEEE">商品詳細</span></h4>
<div class="row">
  <div class="col-lg-4">
 <%= attachment_image_tag(@product, :image,size: "300x200", fallback: "default.png") %>
  </div>
  <div class="col-lg-6">
 <table>
  <tr>
    <th>商品名</th>
    <th><%= @product.name %></th>
  </tr>
  <tr>
    <th><br>商品説明</th>
    <th><br><%= @product.body %></th>
  </tr>
  <tr>
    <th><br>ジャンル</th>
		<th><br><%= @product.category.name %></th>
  </tr>
  <tr>
    <th><br>税込価格<br>(税抜価格)</th>
		<th><br><%= (@product.price * 1.1).to_i %>(<%= @product.price %>)円</th>
  </tr>
  <tr>
    <th><br>販売ステータス</th>
    <th><br><% if @product.is_active == true %>
				<span style="color: green">販売中</span>
				<% else %>
	      <span style="color: gray">販売停止中</span>
				<% end %>
	  </th>
  </tr>
  <tr>
    <th><br><span style="margin-left: 100px"><%= link_to '編集する', edit_managers_product_path(@product), class: "btn btn-success" %></span></th>
  </tr>
  </table>
  </div>
 </div>
</div>

