<div class='container '>
  <div class="mx-auto" style="width:60%">
    <h2 style="margin:50px 0">管理者ログイン</h2>

    <%= form_with model: @manager, url: new_manager_session_path, local: true do |f| %>
      <div class="row no-gutters field">
        <%= f.label :email, "メールアドレス", class: "col-xl-3 col" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: 'col-xl-9' %>
      </div>

        <div class="row no-gutters">
        <%= f.label :password, "パスワード", class: "col-xl-3" %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'col-xl-9' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions" style="text-align: center">
        <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
