<h1>注文情報入力</h1>
<%= form_with model:@order, local:true do |f| %>
 <p>支払い方法</p>
 <%= f.radio_button :payment, :"クレジットカード", checked: 0 %>
 <span>クレジットカード</span>
 <%= f.radio_button :payment, :"銀行振込" %>
 <span>銀行振り込み</span>


 <p>新しいお届け先</p>
 <span>郵便番号（ハイフンなし）</span>
 <%= f.text_field :postcode %>
 <span>住所</span>
 <%= f.text_field :address %>
 <span>宛名</span>
 <%= f.text_field :name %>
 <%= f.submit "完了" %>
<% end %>
