<div class="container">
 <div class="row">
 	<div class="col-lg-6">
  <%= attachment_image_tag(@product, :image, size: "400x300", fallback: "default.png") %>
</div>
<div class="col-lg-6">
  <h2><%= @product.name %></h2>
	<p><%= @product.body %></p>
	<br><br><h2>￥<%= (@product.price * 1.1).to_i %><span style="font-size:15px">（税込）</span></h2>
	<br><br><%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>
	<% if @product.is_active == true %>
	<h3><span style="color: green">販売中</span></h3>
	<br><%= f.number_field :number, min: 1, max: 99, placeholder: '個数選択', class: "number" %>
	<%= f.hidden_field :product_id, :value => @product.id %>
	<div class="btn-space"><%= f.submit "カートに入れる", class: "btn btn-success" %></div>
	<% else %>
		<h2><span style="color: gray">販売停止中</span></h2>
	<% end %>
	<% end %>

   </div>
  </div>
</div>