<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/"><span>ながのCAKE</span></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if member_signed_in? %>
              <li><%= link_to "マイページ",members_path(current_member.id), class: 'nav-link text-dark' %></li>
              <li><%= link_to "商品一覧", products_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "カート", cart_items_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: 'nav-link text-dark' %></li>
            <% elsif manager_signed_in? %>
              <li><%= link_to "会員一覧", managers_members_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "商品一覧", managers_products_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "注文履歴", managers_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "ジャンル", managers_categories_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "ログアウト", destroy_manager_session_path, method: :delete, class: 'nav-link text-dark' %></li>
            <% elsif current_page?(new_manager_session_path) %>
              <li><%= link_to "ログイン", new_manager_session_path, class: 'nav-link text-dark' %></li>
            <% else %>
              <li><%= link_to "About", home_about_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "商品一覧", products_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "新規登録", new_member_registration_path, class: 'nav-link text-dark' %></li>
              <li><%= link_to "ログイン", new_member_session_path, class: 'nav-link text-dark' %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
