<div class="col-lg-8">
<h1>マイページ</h1>
<p>名前<%= @member.last_name %></p>
<p>住所<%= @member.address %></p>
<p>電話番号<%= @member.phone_number %></p>
<p>メールアドレス<%= @member.email %></p>
<div class="actions">
<%= link_to '編集', edit_members_path %>
</div>
<div>
<%= link_to '配送一覧', deliveries_path %>
</div>
<div>
<%= link_to '注文履歴一覧', orders_path %>
</div>
</div>
